<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cross-Platform">
    <test name="Test">
        <classes>
<!--            <class name="com.orionHRMS.LoginPage" />-->
            <class name="com.orionHRMS.HomePage" />
        </classes>
    </test>
</suite>
